
body{
  font-family: 'Piazzolla', serif;
  background-image: linear-gradient(to bottom right,black, white);
}
.navbar
{
  background-color: black;
  color: whitesmoke;
}
.nav-link
{
  color: white;
  font-weight: 700;
}
.card
{
  border-radius: 10%;
}
.symphead
{
  text-align: center;
  font-size: 3rem;
  color:white;
  padding-top:10px
}
footer{
  background-color: black;
  text-align: center;
  color:grey

}
.head1
{
  background-color: black !important;
  height: 50px !important;
 color: white !important;
  vertical-align: middle;
  border: 2px solid black;
  font-family: "Krona One";
  text-align: center;
}
.coloured
{
  background-color: black;
  margin-bottom: 10px;
  padding-bottom: 15px
}
.third
{
  background-color:black;
  color: black;
  vertical-align: middle;
  padding-left: 80px;
  text-align: center;
}
ul
{
  text-align: left;
}
.sym2
{
  background-color:#6d4fdc
}
li{
  margin-bottom: 15px;
  color:white
}
.boxed
{
border: 5px solid #6d4fdc;
border-spacing: 2px;
}
.risk1
{
  text-align: center;
  font-size: 3rem;
   color:white;
   padding-top: 20px;
   padding-bottom: 20px;

}
.symptoms
{
  padding: 35px;
  padding-top:25px;
}
.bor
{
   border: 3px solid black;
}
.first
{
  padding: 30px;
}
.image
{
  padding: 10px
}
.col2
{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.col3
{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.image
{
height: 70%;
}
.last
{
  padding-top: 30px;
  background-color: #6d4fdc;
}
.col1
{
  background-color: blue
  padding-right:0px;
}

.riskimage
{
  padding-top: 90px;
  vertical-align: middle;
}
.sym
{
  padding: 50px;
  padding-left: 250px;
   grid-column-gap: 10px;
  font-size: 1.5rem;
}
.sec{
  padding: 30px;
}
footer
{
  padding:50px 0px 20px 0px;
  background-image: linear-gradient(to bottom right,black, white);
  color: black;
  font-weight: 700;
}
h3{
  font-family:"Roboto+Mono";
}
h1
{
  font-family: "Krona One";
}